
@model List<BoothOutputDto>;
@inject FileUploadPathsDto filePath;
@{
    ViewData["Title"] = "AllBoothsList";
}


<div class="section-space-p">
    <!-- Vendor list Section Start -->
    <section class="section ec-catalog-multi-vendor">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {    
                
                     <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="ec-vendor-card">
                        <div class="ec-vendor-card-avtar">
                                <img src="~/assets/Home/images/common/1.jpg" alt="vendor img">
                            <div class="ec-vendor-card-img">
                                    <img src="~/@filePath.BoothAvatar/@item.AvatarPictureFile" alt="vendor img">
                            </div>
                        </div>
                        <div class="ec-vendor-card-info">
                                <a asp-controller="Product" asp-action="BoothProducts" asp-route-boothid="@item.Id">
                                <h6 class="name">@item.Name</h6>
                            </a>
                            <p class="des">(@item.Description )</p>
                            <div class="row info">
                                <div class="col-md-6 col-sm-6 border-rt">
                                    <div class="ec-catalog-ratings catalog-detail-card">
                                        <h6>سطح</h6>
                                        <p>@item.MedalName</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="ec-catalog-pro-count catalog-detail-card">
                                        <h6>محصولات</h6>
                                        <p>568</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <!-- Vendor list Section End -->

</div>