@model AdminDitailsViewModel;

<div class="d-inline-block">
    @Model.FirstName @Model.LastName
    <small class="me-4">
        <a href="mailto:hossein913@gmial.com">hossein913@gmial.com</a>
        <p> موجودی:  <b> @Model.Wallet </b> تومان</p>
    </small>
</div>