@model List<BoothViewModel>;
@inject FileUploadPathsDto FilePath;
<!--  لیست غرفه ها Start -->
<section class="section ec-blog-section section-space-p">
    <div class="container">

        <div class="col-md-12">
            <div class="section-title">
                <div class="row d-flex justify-content-between">
                    <div class="col-1">
                        <h2 class="ec-title">غرفه ها</h2>

                    </div>
                    <div class="col-2">
                        <h5 class="ec-blog-title">
                            <a asp-controller="Booth" asp-action="BoothsList"> لیست تمام غرفه ها </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ec-blog-slider owl-carousel" data-animation="fadeIn">
                @foreach (var item in Model)
                {
                    <div class="ec-blog-block">
                        <div class="ec-blog-inner">
                            <div class="ec-blog-image">
                                <a asp-controller="Product" asp-action="BoothProducts" asp-route-boothid="@item.Id">
                                    <img class="blog-image"
                                         src="~/@FilePath.BoothAvatar/@item.AvatarPictureFile"
                                         alt="Blog" height="180px" />
                                </a>
                            </div>
                            <div class="ec-blog-content">
                                <h5 class="ec-blog-title">
                                    <a asp-controller="Product" asp-action="BoothProducts" asp-route-boothid="@item.Id">
                                        @item.Name
                                    </a>
                                </h5>

                                <div class="ec-blog-date">
                                    @item.Description
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</section>
<!--  لیست غرفه ها End -->

