@model List<CategoriesViewModel>
<!--  category Section Start -->
<section class="section ec-category-section section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="ec-title">دسته‌بندی‌های برتر</h2>
                </div>
            </div>
        </div>

        <div class="row mt-1 margin-minus-b-15 margin-minus-t-15">
            <div id="ec-cat-slider" class="ec-cat-slider owl-carousel">
                @foreach (var item in Model)
                {
                    <div class="ec_cat_content ec_cat_content_1">
                        <div class="ec_cat_inner ec_cat_inner-1">

                            <div>
                                <img src="~/Upload/Img/Category/@item.Picture.ImageUrl"
                                     class="svg_img"
                                     alt=@item.Title height="50px" width="70px" />
                            </div>
                            <div class="ec-category-desc">
                                <a asp-controller="Product" asp-action="ParentCategoryProducts" asp-route-id="@item.Id" class="cat-show-all">
                                    <h3> @item.Title @*<span title="Category Items">(53)</span>*@</h3>
                                </a>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>
<!--category Section End -->